/* Para resetear los estilos de HTML utilizamos el selector universal*/
/* Elimina los valores predeterminados de HTML*/
*{
    /* Margen */
    margin: 0px;
    /* Relleno */
    padding: 0px;
    
}
/* Tipografias importadas */
@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap');

html{
    font-size: 30px;
    }
    h1, h2{
        /* 1rem = 44px */
        font-size: 1.5rem; 
    }
    h3{
        font-size: 1rem; 
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-decoration: underline;
    }
    
    p{
        font-size: 1rem;
    }
    /* color para todo el body */
body{
    background-color: rgb(180, 178, 178) ;
    
}
/* incio- header */
.mi-header{
   margin-bottom: 12%;   
   
}
.mini-logo{
    display: none;
}
/* fin- header */

/* inicio - seccion usuario y carousel */

.mi-ingreso{
font-size: 0.75rem;

}

/* Fin - seccion usuario y carousel */

/* inicio - nosotros y contacto */
.mi-nosotros{
    margin-top: 20px;    
    text-align: justify;
}
.img-historia{
    float: right;
    padding: 20px;
    border-radius: 45px;
}
.row{
    margin-top: 50px;   
    text-align: center;
}
.mi-ingreso p{
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}
.form-label , .form-check-label{
    font-size: .75rem;
    text-align: left;
}
.form-control-ing{
    height: 45px;
    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.3);
    color: #969fa4;
}

.form-control-ing{
    border-radius: 3px;
}

/* fin - nosotros y contacto */

/* boton flotante de WhatsApp */
.whatsapp{
    position: fixed;
    bottom: 30%;
    right: 1%;
    height: 100px;
    width: 100px; 
}
/* Fin boton flotante de WhatsApp */

/* inicio - Pie pagina */
.mi-pie{
    font-size: 1rem;
    text-align: center;
    color: white;
}
.redes{
    height: 40px;
    width: 40px;
}
#qr{
    height: 40px;
    width: 40px;
}
.legal{
    display: block;
}
.redes{
    display: inline-block;
}
/* Fin - Pie pagina */


/* html productos */
.card{
    margin: 20px;
    text-align: center;
}


/* FIN html productos */


/* Incio html Registro */

.form-control {
    height: 60px;
    box-shadow: none;
    color: #969fa4;
}

.form-control:focus {
    border-color: #5cb85c;
}

.form-control,
.btn {
    border-radius: 3px;
}

.signup-form {
    width: 600px;
    margin: 0 auto;
    padding: 5px 0;
    font-size: 15px;
}

.signup-form h2 {
    color: #636363;
    margin: 0 0 15px;
    position: relative;
    text-align: center;
}

.signup-form h2:before,
.signup-form h2:after {
    content: "";
    height: 2px;
    width: 30%;
    background: #532a2a;
    position: absolute;
    top: 50%;
    z-index: 2;
}

.signup-form h2:before {
    left: 0;
}

.signup-form h2:after {
    right: 0;
}

.signup-form .hint-text {
    color: #999;
    margin-bottom: 30px;
    text-align: center;
}

.signup-form form {
    color: #999;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #f2f3f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.signup-form .form-group {
    margin-bottom: 20px;
}

.signup-form input[type="checkbox"] {
    margin-top: 3px;
}

.signup-form .btn {
    font-size: 16px;
    font-weight: bold;
    min-width: 140px;
    outline: none !important;
}

.signup-form .row div:first-child {
    padding-right: 10px;
}

.signup-form .row div:last-child {
    padding-left: 10px;
}

.signup-form a {
    color: #fff;
    text-decoration: underline;
}

.signup-form a:hover {
    text-decoration: none;
}

.signup-form form a {
    color: #5cb85c;
    text-decoration: none;
}

.signup-form form a:hover {
    text-decoration: underline;
}

/* Fin html Registro */



/* media query - responsive */

@media screen and (max-width: 700px) {
.gran-logo{
    display: none;
}
.mini-logo{
    display: block;    
    height: 100px;    
} 
.container{
    padding-top: 150px;
}
.mi-carousel{
    padding-bottom: 100px;
}
.whatsapp{
    position: fixed;
    bottom: 30%;
    right: 1%;
    height: 50px;
    width: 50px; 
}
.signup-form{
    padding-top: 150px;
}
.card-title{
    font-size: 0.75rem;
}
.text-muted{
    display: none;
}

}

@media screen and (max-width: 299px) {
    .gran-logo{
        display: none;
    }
    .mini-logo{
        display: block;    
        height: 100px;    
    } 
    .container{
        padding-top: 250px;
    }
}


    
