
/* Tipografias importadas */
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Roboto+Mono:wght@500&family=Roboto:ital,wght@0,400;1,100&display=swap');

/* Elimina los valores predeterminados de HTML*/
*{
    /* Margen */
    margin: 0px;
    /* Relleno */
    padding: 0px;    
}
/*color para el body*/
body{
    background-color: rgb(180, 178 , 178);
}

html{
    font-size: 30px;
    }
    h1, h2{
        font-family: 'Bungee', cursive;
        font-size: 1.5rem; 
    }
    h3{
        font-size: 1rem; 
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-decoration: underline;
    }
    
    p{
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
    }